body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.flash1 {
    animation-name: flash1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
}

.flash2 {
    animation-name: flash2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash1 {
    from {
        color: blue;
    }

    to {
        color: black;
    }
}

@keyframes flash2 {
    from {
        color: red;
    }

    to {
        color: black;
    }
}